body {
  margin: 0;
  padding: 0;
  width: 100%;
  align-content: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "PT Sans Narrow", sans-serif;
}
.container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 0 2rem;
  background-color: transparent;
}
.grid-task {
  width: 30%;
  height: auto;
  padding: 1rem;
  font-size: 1.2em;
  border-radius: 5px; 
  background-color: rgba(255, 255, 255, 0.8);
}
/* .task-header {} */
.task-card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: -1px 1px 0px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.text {
  font-size: 0.8em;
  word-wrap: break-word;
}
